
.stage-c{
    padding:1rem;
    background-color:white;
    border-bottom:#eee solid 1px;
    
    .stage-title{
        font-size:1.5rem;
    }
}

.stage-content{
    padding:0 1rem;
}

.c-main{
    align-items:stretch;
}

.omni-channel-wrapper{
    background-color:#fff;
    padding:2rem 0 0 0;
    height:200px;
    border-top:#eee solid 3px;
}

.msg-wrapper{
    padding:1rem;

    .msg{
    
        .msg-content{
    
            border:#eee solid 1px;
            padding:0.3rem 1rem;
            border-radius:1rem;
        }

    }

    .rep-image{
        overflow:hidden;
        margin-right:0.5rem;
        img{
            width:2rem;height:2rem;
            
            border-radius:2rem;
    
        }
    }
    
    .msg-in{
        align-self:flex-start;
        .msg-content{

            background-color:white;
        }
    }

    .msg-out{
        align-self:flex-end;

        .msg-content{
            color:white;
            background-color:#4EB3D3;
        }
    }
    
    

}


.input-panel{

    input{
        font-size:1rem;
        padding:1rem 1rem;
        border:none;
        width:100%;
        border-top:#eee solid 1px;
        border-bottom:#eee solid 1px;
        
        &:focus{
            outline:none;
        }
    }
}