
.stage-c{
    padding:1rem;
    background-color:white;
    margin:auto;
    
    .stage-title{
        font-size:1.5rem;
    }
}

.omni-channel-wrapper{
    background-color:#ccc;
    padding:2rem;
}