<div class="page c">
  <div class="c-main c f1 ofys">
    <div class="page-cover c">
      <span>Customer Service Centre</span>
      <h1 *ngIf="stage">{{stage.name}}</h1>
      <h1 *ngIf="flow && !stage">{{flow.name}}</h1>
      <span>Air Canada</span>
    </div>
    <div class="stage-content" [innerHTML]="stage.content">
    </div>
    
    <a routerLink="/c/{{stage._id}}" class="stage-c c" *ngFor="let stage of stages">
      <span class="stage-title">
        {{stage.name}}
      </span>
      <span class="stage-description">
        {{stage.description}}
      </span>
    </a>

  </div>
  <div class="omni-channel-wrapper c">
    <div class="msg-wrapper f1 c ofys">
      <div class="msg msg-in r">
        <div class="rep-image">
          <img src="https://images.forbes.com/media/lists/companies/air-canada_416x416.jpg"/>
        </div>
        <div class="msg-content f1">
          How may I help you?
        </div>
      </div>
      <div class="msg r" [ngClass]="{'msg-out': msg.type == 'out', 'msg-in': msg.type == 'out'}" *ngFor="let msg of messages">
        
        <div class="rep-image" *ngIf="msg.type == 'in'">
          <img src="https://images.forbes.com/media/lists/companies/air-canada_416x416.jpg"/>
        </div>
        <div class="msg-content f1">
            <a routerLink="{{msg.link}}">{{msg.content}}</a>
        </div>
      </div>
    </div>
    <div class="input-panel">
      <input placeholder="type in your message" (keydown)="keyDownFunction($event)" [(ngModel)]="newMessage.content"/>
    </div>
  </div>
</div>
