<div class="app">
    <form class="c">
        <input class="app-input" [(ngModel)]="newFlow.name" placeholder="new custorm flow" name="flowName"/>
        <br>
        <textarea placeholder="flow description"   [(ngModel)]="newFlow.description" name="description" id="" cols="30" rows="10"></textarea>
        <br>
        <button (click)="createFlow()">Create Flow</button>
    </form>
    <div class="c">
        <a class="flow-thumb c" *ngFor="let flow of flows" routerLink="/f/{{flow._id}}">
            <span><b>{{flow.name}}</b></span>
            <span>{{flow.description}}</span>
        </a>
    </div>
    <router-outlet></router-outlet>
</div>